header {
  .header-fixed{
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1000;
    top: 0;
  }
  .nav {
    .nav-link {
      font-size: 14px;
      z-index: 10;
      position: relative;
      text-decoration: none;
      padding: 0;
      &:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after{
        width: 100%;
        left: 0;
      }
    }
  }
}