.header-pagePartners{
  background: radial-gradient(104.73% 104.73% at 51.53% -4.73%, #341F00 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  position: relative;
  .main-articlePages{
    padding-bottom: 100px;
  }
}