.header-pageTeachers{
  background: radial-gradient(103.48% 103.48% at 50% -3.48%, #003F3B 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  position: relative;
  .main-articlePages{
    padding-bottom: 100px;
  }
}